<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微电影管理系统</title>
    <script src="{{ url_for('static', filename='jquery-3.3.1.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link type="text/css" rel="stylesheet" href="//at.alicdn.com/t/font_815678_3sur84hp6jp.css">

</head>
<body>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="margin-left: ">

            </div>
        </div>
    </div>
</div>



</body>
</html>