{% extends 'newbase.html' %}
{% block head %}
    <title>index</title>
{% endblock %}


{% block style %}

{% endblock %}




{% block body %}
    <!--热门电影-->
    <section id="hotmovie" style="margin-top:76px">
        <div class="container">
            <div class="row wow fadeInRight" data-wow-delay="0.6s">
                <div class="row">
                    <iframe class="wow fadeIn" width="100%" height="375px" frameborder=0 scrolling=no src="../animation"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!--热门电影-->

    <!--电影列表-->
   <section id="movielist" style="background-color: rgba(187,187,187,0.93)">
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.6s">
            <div class="col-md-12 table-responsive">
                <table class="table text-left table-bordered">
                    <tr>
                        <td style="width: 10%">电影标签</td>
                        <td style="width: 90%">
                            <a class="label label-info">&nbsp;<span class="glyphicon glyphicon-tag">&nbsp;标签一 &nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="label label-info">&nbsp;<span class="glyphicon glyphicon-tag">&nbsp;标签一 &nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="label label-info">&nbsp;<span class="glyphicon glyphicon-tag">&nbsp;标签一 &nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="label label-info">&nbsp;<span class="glyphicon glyphicon-tag">&nbsp;标签一 &nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="label label-info">&nbsp;<span class="glyphicon glyphicon-tag">&nbsp;标签一 &nbsp;</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%">电影星级</td>
                        <td style="width: 90%">
                            <a class="label label-warning">&nbsp;<span class="glyphicon glyphicon-star">&nbsp;一星 &nbsp;&nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="label label-warning">&nbsp;<span class="glyphicon glyphicon-star">&nbsp;二星 &nbsp;&nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="label label-warning">&nbsp;<span class="glyphicon glyphicon-star">&nbsp;三星 &nbsp;&nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="label label-warning">&nbsp;<span class="glyphicon glyphicon-star">&nbsp;四星 &nbsp;&nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="label label-warning">&nbsp;<span class="glyphicon glyphicon-star">&nbsp;五星 &nbsp;&nbsp;</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10px">上映时间</td>
                        <td style="width: 90%">
                            <a class="label label-default">&nbsp;<span class="glyphicon glyphicon-time">&nbsp;最近 &nbsp;&nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="label label-default">&nbsp;<span class="glyphicon glyphicon-time">&nbsp;2017 &nbsp;&nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="label label-default">&nbsp;<span class="glyphicon glyphicon-time">&nbsp;2016 &nbsp;&nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="label label-default">&nbsp;<span class="glyphicon glyphicon-time">&nbsp;2015 &nbsp;&nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="label label-default">&nbsp;<span class="glyphicon glyphicon-time">&nbsp;更早 &nbsp;&nbsp;</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10px">播放数量</td>
                        <td style="width: 90%">
                            <a class="label label-success">&nbsp;<span class="glyphicon glyphicon-arrow-down">&nbsp;从高到低&nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="label label-danger">&nbsp;<span class="glyphicon glyphicon-arrow-up">&nbsp;从低到高&nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10px">评论数量</td>
                        <td style="width: 90%">
                            <a class="label label-success">&nbsp;<span class="glyphicon glyphicon-arrow-down">&nbsp;从高到低&nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="label label-danger">&nbsp;<span class="glyphicon glyphicon-arrow-up">&nbsp;从低到高&nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-3">
                <div class="movielist text-center">
                    <img src="../../static/main_banner/环太平洋.jpg" class="img-responsive center-block" alt="" style="width: 155px;height: 245px;padding-top: 10px">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">环太平洋</span><br>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="../playvideo" class="btn btn-primary" target="_blank" role="button"><span class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="movielist text-center">
                    <img src="../../static/main_banner/爱情公寓.jpg" class="img-responsive center-block" alt="" style="width: 155px;height: 245px;padding-top: 10px">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">爱情公寓</span><br>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button"><span class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="movielist text-center">
                    <img src="../../static/main_banner/西红柿首富.jpg" class="img-responsive center-block" alt="" style="width: 155px;height: 245px;padding-top: 10px">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">西红柿首富</span><br>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button"><span class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="movielist text-center">
                    <img src="../../static/main_banner/一出好戏.jpg" class="img-responsive center-block" alt="" style="width: 155px;height: 245px;padding-top: 10px">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">一出好戏</span><br>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button"><span class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="movielist text-center">
                    <img src="../../static/main_banner/我不是药神.jpg" class="img-responsive center-block" alt="" style="width: 155px;height: 245px;padding-top: 10px">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">我不是药神</span><br>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button"><span class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="movielist text-center">
                    <img src="../../static/main_banner/霸王别姬.jpg" class="img-responsive center-block" alt="" style="width: 155px;height: 245px;padding-top: 10px">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">霸王别姬</span><br>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button"><span class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="movielist text-center">
                    <img src="../../static/main_banner/复仇者联盟3：无限战争.jpg" class="img-responsive center-block" alt="" style="width: 155px;height: 245px;padding-top: 10px">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">复仇者联盟3：无限战争</span><br>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button"><span class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="movielist text-center">
                    <img src="../../static/main_banner/遗传厄运.jpg" class="img-responsive center-block" alt="" style="width: 155px;height: 245px;padding-top: 10px">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">遗传厄运</span><br>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button"><span class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="movielist text-center">
                    <img src="../../static/main_banner/战狼2.jpg" class="img-responsive center-block" alt="" style="width: 155px;height: 245px;padding-top: 10px">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">战狼2</span><br>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button"><span class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="movielist text-center">
                    <img src="../../static/main_banner/釜山行.jpg" class="img-responsive center-block" alt="" style="width: 155px;height: 245px;padding-top: 10px">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">釜山行</span><br>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button"><span class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="movielist text-center">
                    <img src="../../static/main_banner/肖申克的救赎.jpg" class="img-responsive center-block" alt="" style="width: 155px;height: 245px;padding-top: 10px">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">肖申克的救赎</span><br>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button"><span class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="movielist text-center">
                    <img src="../../static/main_banner/快把我哥带走.jpg" class="img-responsive center-block" alt="" style="width: 155px;height: 245px;padding-top: 10px">
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">快把我哥带走</span><br>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button"><span class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>


            <div class="page">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">首页</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">1/10</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">下一页</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">尾页</span>
                          </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
   </section>


    <!--电影列表-->
{% endblock %}